@model  RoleDetailVM
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <p class="card-description">
                Add class <code>.table</code>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>RoleName</th>
                            <th>UsersInThisRole</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Role.Name</td>
                            <td>
                                @foreach(var item in Model.Users)
                                {
                                    <li>@item.UserName (@item.Email)</li>

                                }
                            </td>
                            
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>